#
# File /etc/defaults/gpsd
#
# A config file for gpds to receive sentenced from OpenPlotter's
# server which can be configured to export NMEA 183 on a set port,
# in this case 10110 which is commonly used for this.
# Gpsd will process this stream and provide GPS gps data to any client.
# Not all GPS data, but the most needed ones like time, lat and long.
# Test using : gpsmon openplotterhost:10110
# 
# Rename this file to gpsd and place at /etc/defaults/ or
# just edit the default one normally present. 
#
# Written by Ole W. Saastad, 8/Aug/2022
# 

# Devices gpsd should collect to at boot time.
# They need to be read/writeable, either by user gpsd or the group dialout.
DEVICES=""

# This option receicve NMEA183 sentences from OpenPlotter server
# found at the IP address and port given. The default port on gpsd is
# used to make life simple.
GPSD_OPTIONS="-S 2947 tcp://10.10.10.1:10110"

# Automatically hot add/remove USB GPS devices via gpsdctl
# No USB is used so it's safe to disble. 
USBAUTO="false"

